%head
  %title
    Denison Convention - March 29-30 @ Denison
  %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css"}
%body
  #container
    #navbar
      %a{:id => "logo", :href => "/"}
        .logo
          %img{:src => "logo.png"}
          %p
            Denison University
            %br
            %small
              March 29 - 30
              %br
              9 am - 4 am
      .menu
        %a{:id => "directions", :href => "/directions"}
          Directions
        %a{:id => "schedule", :href => "/schedule"}
          Event Schedule
        %a{:id => "contact", :href => "/contact"}
          Contact
      .buttons
        %a{:id => "fb-b", :href => "https://www.facebook.com/events/1388301138095585/"}
      .paypal
        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
          %input{:type => "hidden", :name => "cmd", :value => "_s-xclick"}
          %input{:type => "hidden", :name => "hosted_button_id", :value => "A3ZBCW3XFX2YJ"}
          %table
            %tr
              %td
                %input{:type => "hidden", :name => "on0", :value => "Donation Choices"}
                  Donation Choices
            %tr
              %td
                %select{:name => "os0"}
                  %option{:value => "Option 1"}
                    Option 1 $5.00 USD
                  %option{:value => "Option 2"}
                    Option 2 $10.00 USD
                  %option{:value => "Option 3"}
                    Option 3 $20.00 USD
          %input{:type => "hidden", :name => "currency_code", :value => "USD"}
          %input{:type => "image", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", :border => "0", :name => "submit", :alt => "PayPal - The safer, easier way to pay online!"}
          %img{:border => 0, :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1", :height => "1"}
    =yield
%script{:src => "assets/jquery.min.js"}
%script{:src => "assets/jquery.backstretch.min.js"}
%script{:src => "assets/menu.backstretch.js"}
%script{:src => "assets/equalheights.js"}
