:javascript
  var defaultimg = "schedule.jpg";
#content
  %h1
    Event Schedule
  %table
    %tr
      %th{:width => "30%"}
        Time
      %th
        Event
    %tr
      %td
        ???
      %td
        ???
