<script>
	var defaultimg = "schedule.jpg";
</script>
<div id="content">
	<h1>Event Schedule</h1>
	<table>
		<tr><th width="30%">Time</th> <th>Event</th></tr>
		<tr><td>All Day</td> <td>Video Game Room</td></tr>
		<tr><td>All Day</td> <td>Vendor Hall</td></tr>
		<tr><td>9-11a</td> <td>Leauge of Legends Donger Dash</td></tr>
		<tr><td>9-12a</td> <td>Empires of the Void</td></tr>
		<tr><td>10a-2p</td> <td>Sail Power</td></tr>
		<tr><td>10a-2p</td> <td>Star Trek: the RPG</td></tr>
		<tr><td>10a-2p</td> <td>Shadow Run</td></tr>
		<tr><td>11a-2:30p</td> <td>Modern Masters Draft ($30 to enter)</td></tr>
		<tr><td>12-2p</td> <td>Easter Egg Hunt</td></tr>
		<tr><td>1-4p</td> <td>Tzolkin</td></tr>
		<tr><td>1-5p</td> <td>Vampire: The Requiem</td></tr>
		<tr><td>1:30-4:30p</td> <td>Super Smash Melee Tourney For Charity! ($5 to enter)</td></tr>
		<tr><td>2-4p</td> <td>Den Con GM Panel</td></tr>
		<tr><td>3-5p</td> <td>Super Monkey Ball Tourney</td></tr>
		<tr><td>3-5p</td> <td>Tech Commander</td></tr>
		<tr><td>3-7p</td> <td>Shadow Run</td></tr>
		<tr><td>4-6p</td> <td>Paranoia</td></tr>
		<tr><td>4-6p</td> <td>Mystery: Are you Arson?</td></tr>
		<tr><td>5-6p</td> <td>Dark Delve One-Shot</td></tr>
		<tr><td>5-6p</td> <td>Patrick Loves Movies</td></tr>
		<tr><td>6-10p</td> <td>Peter Plays Diplomacy!</td></tr>
		<tr><td>6-11p</td> <td>Epic Duels Tourney</td></tr>
		<tr><td>6-8p</td> <td>Smash Up Tourney</td></tr>
		<tr><td>7-11p</td> <td>Game of Death: Electric Bugaloo</td></tr>
		<tr><td>8p-12a</td> <td>The Balance Trials</td></tr>
		<tr><td>9:30-11p</td> <td>Minecraft Challenge (with prizes!)</td></tr>
		<tr><td>11-11:30p</td> <td>Trivial Trivia</td></tr>
		<tr><td>11:30p-1a</td> <td>Fast Werewolf</td></tr>
		<tr><td>1-4a</td> <td>Werewolf in Fairtowne, USA</td></tr>
	</table>
</div>