<script>
	var defaultimg = "directions.jpg";
</script>
<div id="content">
	<h1>Directions</h1>
	<p><b>Den Con 2014</b> is in the <b>Burton D. Morgan Building</b> at <b>Denison University</b>, located at <a href="https://maps.google.com/maps?q=100+West+College+St,+Granville,+Ohio,+43023&hl=en&sll=40.067095,-82.503548&sspn=0.041579,0.090895&hnear=100+W+College+St,+Granville,+Licking,+Ohio+43023&t=m&z=16">100 West College St, Granville, Ohio, 43023</a>.</p>
	<p>The Burton D. Morgan Building is #10 on this <a href="http://denison.edu/files/offices/custom-landing-pages/visit-printable_campus_map.pdf">Campus Map [PDF]</a>.</p>
</div>